body {
    font-family: sans-serif;
}
 header {
 background-color:rgb(223, 255, 255);
}
h1 {
   background-color:rgb(122, 239, 255) ;
   center: 15px
}
table {
    border:rgb(212, 0, 240) 1px solid;
}
td {
  border:rgb(212, 0, 240) 1px solid;
 }
nav a{
    font-size:30;
    text-decoration: none;
    color:rgb(120, 239, 255);
    border: 3px solid rgb(0, 255, 234) ;
    border-radius: 10px;
    background-color: rgb(27, 189, 181);
} 
